mixin latest(data, className="")
    section.dsx-latest(class=className, data-theme="light")
        .dsx-latest-wrap
            //- .dsx-latest-container.dsx-grid-container
            //-     h2 #{data.TITLE}
            //- .dsx-latest-blocks.dsx-grid-container
            //-     a.dsx-latest-block(internal  href=link(data.URL_1))
            //-         .dsx-latest-block-image
            //-             .dsx-latest-block-image-aspect
            //-                 .dsx-latest-block-image-clipper
            //-                     .dsx-latest-block-image-hover
            //-                         .dsx-latest-block-image-wrapper
            //-                             img(src=data.IMAGE_1, srcset=data.IMAGE2x_1 + " 2x", alt="")
            //-         .dsx-latest-block-texts.dsx-grid-container
            //-             p #{data.CATEGORY_1}
            //-             h3 #{data.TITLE_1}
            //-             time #{data.DATE_1}
            //-     a.dsx-latest-block(internal  href=link(data.URL_2))
            //-         .dsx-latest-block-image
            //-             .dsx-latest-block-image-aspect
            //-                 .dsx-latest-block-image-clipper
            //-                     .dsx-latest-block-image-hover
            //-                         .dsx-latest-block-image-wrapper
            //-                             img(src=data.IMAGE_2, srcset=data.IMAGE2x_2 + " 2x", alt="")
            //-         .dsx-latest-block-texts.dsx-grid-container
            //-             p #{data.CATEGORY_2}
            //-             h3 #{data.TITLE_2}
            //-             time #{data.DATE_2}
            //- a(internal href=link(data.BUTTON_URL))
            //-     button.dsx-btn.dsx-btn_stroke-blue #{data.BUTTON}