meta(charset='utf-8')
block title
    title DSX

meta(name='viewport', content='width=device-width,minimum-scale=1')
link(rel='alternate', hreflang=alternateLang href=alternateLangUrl)
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/homepage/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/homepage/favicon-16x16.png")
link(rel="manifest", href="/homepage/site.webmanifest")
link(rel="mask-icon", href="/homepage/safari-pinned-tab.svg", color="#3625d3")
link(href=currentUrl rel="canonical")
meta(name="apple-mobile-web-app-title", content="DSX")
meta(name="application-name", content="DSX")
meta(name="msapplication-TileColor", content="#3625d3")
meta(name="theme-color", content="#ffffff")
meta(property='og:site_name' content='dsx.uk')
meta(name='twitter:card' content='summary_large_image')
meta(property='og:url' content=currentUrl)
block meta

style #{loaderCss}
