extends /_includes/layout

block title
    title #{__.notfound.TITLE}

block meta
    meta(property='og:type' content='website')
    meta(property='og:title' content=__.fees.TITLE)
    meta(property='og:description' content=__.fees.HEADER)
    meta(property='og:image' content='/homepage/assets/img/figure/rocket@2x.png')

block content
    +loader()
    +navbar.-inverse

    .dsx-view(data-controller="mainController")#view-main

        .dsx-error
            .dsx-error-wrap
                .dsx-error-container
                    .dsx-error-body
                        .dsx-error-title #{__.notfound.HEADER}
                        .dsx-error-subtitle #{__.notfound.SUBTITLE}
                        a.dsx-error-back(href="/")
                            span.dsx-error-back-text #{__.notfound.BACK_TEXT_1}
                                =" "
                                span #{__.notfound.BACK_TEXT_2}
                            span.dsx-error-back-icon
                                +svgsprite('middle-arrow-right')
                        .dsx-error-image
                            img(src="/homepage/assets/img/404.png", srcset="/homepage/assets/img/404@2x.png 2x", alt)



